#selecAnim{
    height: 72px;
    width: 100%;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--borda);
    gap: 16px;
}

.anim{
    width: fit-content;
    height: 44px;
    background-color: var(--areia);
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--borda);
    font-size: 15px;
    font-weight: 600;
    color: var(--preto);
    cursor: pointer;
    & img{
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }
    transition: transform 0.3s ease-in-out; 
}
.anim:hover{
    transform: scale(1.1);
}
#animalbuttonContainer{
    display: flex;
    gap: 12px;
}

.active{
    background-color: var(--coralEsc);   
    color: var(--branco); 
}
.hero{
    display: flex;
    align-items: center;
    width: 100%;
    height: 448px;
    & .heroDir{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 590px;
        gap: 16px;
    }
    & img{
        width: 520px; 
        height: 320px;   
        margin-right: 80px;
        margin-left: auto; 
    }
}
button{
    height: 50px;
    border-radius: 12px;
    font-size: 16px;
    font-weight:600;
    border-style: solid;
    border-width: 1.5px;
    padding-left: 26px;
    padding-right: 26px;
    cursor: pointer;
}
#verProds{
    color: var(--branco);
    background-color: var(--coralEsc);
    border-style: none;
}
#falarWts{
    color: var(--preto);
    background-color: var(--areia);
    border-color: var(--borda);
}

#prodContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 85%;    
}
.prod{
    border-radius: 12px;
    border-color: var(--borda);
    border-style: solid;
    border-width: 1px;
    padding: 14px 14px 18px 14px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    & img{
        width: 270px;
        height: 160px;
        border-radius: 12px;
        object-fit: cover;
    }
}

.nomeTitu{
    font-weight: 500;
    font-size: 17;
}
#preencher{margin-top: 72px;}
.btnContainer{
    & button{
        height: 40px;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 15px;
        border-color: var(--borda);
        color: var(--preto);
        background-color: var(--areia);
    }
    & .btnAtivado{
        border-color: var(--preto);
        color: var(--branco);
        background-color: var(--preto);
    }
}

.desc{
    color: var(--textoSuav);
    font-size: 14px;
}
#telaProds{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--branco);
    gap: 24px;
    & > div{
        margin-left: 80px;
    }
    padding-bottom: 72px;
}
#sobreLoja{
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 72px 80px;
    justify-content: center;
    align-items: center;
    & > img{
        width: 440px;
        height: 300px;
        border-radius: 24px;
    }
}
.sobreTexto{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.infobox{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
#contatos{
    gap: 24px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    inline-size: 100%;
    box-sizing: border-box;
}
#contatosBox{
    gap: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;    
}
.contCards{
    display: flex;
    flex-direction: column;
    background-color: var(--areia);
    border-color: var(--borda);
    border-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
    padding-left: 20px;
    flex: 0 1 calc((100% - (20px * 3))/4);
    gap: 6px;
    & img{
        width: 23.8px;
        height: 23.8px;
    }
}
#drpdownBt{
    display: none;
}
@media(max-width: 1040px) {
    .hero{
        flex-direction: column;    
        height: auto;
        padding-bottom: 40px;
        padding-top: 40px;
        gap: 16px;
        width: auto;
        & img{
            margin-right: auto;
            width: 90%;
            object-fit: cover;
            border-radius: 20px;

        }
        & .heroDir{
            width: 90%;
            margin-left: 0%;
        }
    }    
    #selecAnim{
        flex-direction: column;
        align-items: start;
        
        height: 100px;
    }
    #selecAnim > *{
    padding-left: 80px;
    }
 
    #telaProds{
        align-items: start;
        width: auto;
        & > div{
            width: auto;
            margin-left: 5%;
            margin-right: auto;
            
        }
    }
    #sobreLoja{
        flex-direction: column;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        & > img{
            margin-right: auto;
            width: 90%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    #contatos{
        padding-left: 40px;
        padding-right: 40px;
    }
    #contatosBox{
        
        flex-wrap: wrap;
    }
    .contCards{
        flex: 0 1 45%;;
    }
    #footer{
        align-items: center;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 30px;
        & img{
        width: auto;
        height: 157px;
        margin-left: 0px;
    }
    .miniText{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 10px;
        background-color: var(--preto);
        margin: 0px;
    }
   
    }
}
@media(max-width: 719px) {
    .contCards{
        flex: 0 1 100%;
    }
    #animalbuttonContainer{
        width:calc(100vw - 100px);
        overflow-x: scroll;
        overflow-y: hidden;
        padding-right: 80px;
    }
    .btns{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    #header > img{
        padding-left: 10%;
    }
    #drpdownBt{
        display: block;
        font-size: 60px;
        padding: 0px;
        margin-right: 10%;
        margin-left: auto;
        line-height: 0px;
        background-color: var(--branco);
        border-style: none;
    }
    #menu{
        display: none;
    }
    #header .mostrarMenu{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--branco);
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0;
        top: 126px;
        justify-content: center;
        gap: 16px;
        padding: 20px;
        align-items: end;
        & div{
            color: var(--preto);
            display: block;
        }
    }
    .btnContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .anim{
        overflow: visible;
    }
}
@media(max-width: 693px){
    .prod{width: 90%;
    & img{
        margin-right: auto;
        margin-left: auto;
        width: 326px;
        height: 200px;
    }}
}

@media(max-width: 390px) {
#header{
    & img{
        padding-left: 5%;
        height: 43px;
        width: 68px;
    }
}
    #drpdownBt{
        margin-right: 5%;
    }
    #selecAnim > *{
    padding-left: 20px;
    }
    #animalbuttonContainer{
    width:calc(100vw - 100px);
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 80px;
    }
    .hero .heroDir{
        margin-left: 5%;
        margin-right: auto;
    }
    #telaProds > div{
        margin-left: 5%;
        margin-right: auto;
        width: 90%;
    }
}
