#selecAnim{
    height: 72px;
    width: 100%;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--borda);
    gap: 16px;
}

.anim{
    width: fit-content;
    height: 44px;
    background-color: var(--areia);
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--borda);
    font-size: 15px;
    font-weight: 600;
    color: var(--preto);
    cursor: pointer;
    & img{
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }
    transition: transform 0.3s ease-in-out; 
}
.anim:hover{
    transform: scale(1.1);
}
.active{
    background-color: var(--coralEsc);   
    color: var(--branco); 
}
.hero{
    display: flex;
    align-items: center;
    width: 100%;
    height: 448px;
    & .heroDir{
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        width: 590px;
        gap: 16px;
    }
    & img{
        width: 520px; 
        height: 320px;   
        margin-right: 80px;
        margin-left: auto; 
    }
}
button{
    height: 50px;
    border-radius: 12px;
    font-size: 16px;
    font-weight:600;
    border-style: solid;
    border-width: 1.5px;
    padding-left: 26px;
    padding-right: 26px;
    cursor: pointer;
}
#verProds{
    color: var(--branco);
    background-color: var(--coralEsc);
    border-style: none;
}
#falarWts{
    color: var(--preto);
    background-color: var(--areia);
    border-color: var(--borda);
}

#prodContainer{
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}
.prod{
    border-radius: 12px;
    border-color: var(--borda);
    border-style: solid;
    border-width: 1px;
}

.nomeTitu{
    font-weight: 500;
    font-size: 17;
}
#preencher{margin-top: 72px;}
.btnContainer{
    height: 40px;
}
.desc{
    color: var(--textoSuav);
    font-size: 14px;
}
#telaProds{
    width: 100%;
    background-color: var(--branco);
    gap: 24px;
    & div{
        margin-left: 80px;
    }
}